.sc_bg {
  background: linear-gradient(to bottom right, #0d343e, #881b5a);
}
.ro_bg {
  background: linear-gradient(to bottom right, #111111, #881b5a);
}
.dis_bg {
  background: linear-gradient(to bottom right, #073763, #881b5a);
}
  